html {
    line-height: 1.75em;
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: rgb(68, 68, 68)
}

.custom-shape-divider-bottom-1643060170 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1643060170 svg {
    position: relative;
    display: block;
    width: calc(148% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1643060170 .shape-fill {
    fill: #FFFFFF;
}

#header-home {
    background: linear-gradient(150deg, #281483 15%, #8f6ed5 75%, #d782d9 94%);
    height: 100vh;
}

#header {
    display: flex;
    text-decoration: none;
    padding: 10px 0px;
    margin-left: 13%;
}

#logo {
    margin-right: auto;
    margin-top: 30px;
}

#header a {
    padding: 0px 10px;
    text-decoration: none;
}

#main-menu a {
    font-size: 18px;
    color: white;
    margin-top: 30px;
}

#main-menu a:hover {
    color: rgb(122, 120, 120);
}

.column {
    display: flex;
}

.row {
    display: block;
}

.page {
    margin-left: 13%;
}

#home {
    margin-top: 100px;
    color: white;
}

#home p {
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

.platforms img {
    margin: 10px;
}

#phone {
    border-radius: 40px;
    margin-left: auto;
    margin-right: 20%;
    margin-top: -40px;
}

.shapes_bottom_center {
    top: 65%;
    right: auto;
    left: 65%;
    width: 200px;
    height: 200px;
    background: rgba(255, 255, 255, .15);
    position: relative;
    border-radius: 100px 130px 100px 315px;
    overflow: hidden;
}

#main-menu {
    margin-left: auto;
    margin-right: 13%;
}

.square {
    display: inline-block;
    width: 18%;
    height: 18%;
    background-color: #fafafa;
    text-align: center;
    margin-left: 5%;
}

.square>img {
    margin-bottom: -20px;
}

#squares {
    margin-top: 100px;
    margin-left: 18%;
    margin-right: 18%;
}

.square>p {
    color: rgb(126, 125, 125);
}

.square h2 {
    font-size: 20px;
}

@media (max-width: 1200px) {
    html {
        margin-left: -10%;
        margin-right: -10%;
    }

    #header-home {
        background: linear-gradient(150deg, #281483 15%, #8f6ed5 75%, #d782d9 94%);
        height: 97vh;
    }
}

@media (max-width: 767px) {

    #phone {
        display: none;
    }

    .square {
        display: block;
        width: 80%;
        text-align: center;
    }

    #main-menu {
        display: none;
    }

    .custom-shape-divider-bottom-1643060170 svg {
        width: calc(249% + 1.3px);
        height: 90px;
    }

    #header-home {
        background: linear-gradient(150deg, #281483 15%, #8f6ed5 75%, #d782d9 94%);
        height: 97vh;
    }
}

.feature {
    width: 300px;
    height: 18%;
    display: flex;
    margin-left: 10%;
    margin-bottom: 60px;
    transition: 0.5s;
    cursor: pointer;
}

.about {
    margin-left: 20px;
    margin-top: -7%;
}

.feature>img {
    width: 50px;
    height: 50px;
    transition: 1s;
}

.about>p {
    font-size: 18px;
    color: rgb(126, 125, 125);
    margin-top: -10px;
}

h4 {
    font-size: 40px;
    margin-bottom: -2px;
}

.naslov>p {
    color: rgb(126, 125, 125);
    font-size: 18px;
}

.naslov {
    text-align: center;
    margin-top: 200px;
}

#featured {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    margin-right: 20%;
    margin-left: 20%;
}

.feature:hover img {
    border-radius: 100%;
    transition: 1s;
}

.youtube_video {
    background: linear-gradient(150deg, #281483 15%, #8f6ed5 75%, #d782d9 94%);
    height: 50vh;
    position: relative;
    text-align: center;
}

.custom-shape-divider-down-1643060170 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-down-1643060170 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 200px;
    transform: rotateY(180deg);
}

.custom-shape-divider-down-1643060170 .shape-fill {
    fill: #fff;
}

#youtube_play {
    background: url(assets/youtube_play.jpg);
    width: 70px;
    height: 70px;
    margin-left: 48%;
    margin-top: 5%;
    position: absolute;
    border-radius: 50%;
    animation: water-shadow 1s linear infinite;
    transition: .5s linear;
    cursor: pointer;
}

@keyframes water-shadow {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgb(255 255 255 / 10%), 0 0 0 20px rgb(255 255 255 / 10%), 0 0 0 40px rgb(255 255 255 / 10%);
        box-shadow: 0 0 0 0 rgb(255 255 255 / 10%), 0 0 0 20px rgb(255 255 255 / 10%), 0 0 0 40px rgb(255 255 255 / 10%);
    }

    100% {
        -webkit-box-shadow: 0 0 0 20px rgb(255 255 255 / 10%), 0 0 0 40px rgb(255 255 255 / 10%), 0 0 0 60px rgb(255 255 255 / 0%);
        box-shadow: 0 0 0 20px rgb(255 255 255 / 10%), 0 0 0 40px rgb(255 255 255 / 10%), 0 0 0 60px rgb(255 255 255 / 0%);
    }
}

#youtube_play:hover {
    background: url(assets/youtube_pressed.jpg);
}

#naslov_pricing {
    text-align: center;
    margin-top: 5%;
    font-size: 22px;
}

#naslov_pricing>p {
    font-size: 18px;
}

.pricings {
    margin-top: 70px;
    margin-left: 25%;
    margin-right: 15%;
    display: grid;
    grid-auto-flow: column;
}

.price {
    width: 200px;
    height: 300px;
    text-align: center;
}

.price h2 {
    padding-bottom: 50px;
    font-size: 28px;
}

.price>div>span {
    font-size: 60px;
    color: rgb(126, 125, 125);
    margin-top: 60px;
}

.cijena {
    font-size: 28px;
    color: rgb(126, 125, 125);
}

.cijena>b {
    position: relative;
    top: -26px;
}

.cijena>div {
    font-size: 18px;
    margin-top: 10px;
}

#purchase {
    border: 2px solid rgb(76, 2, 136);
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 30px;
    padding: 10px 30px;
    border-radius: 5px;
    color: rgb(40 20 131);
    cursor: pointer;
    transition: all 0.3s ease-in;
}

#purchase:hover {
    background-color: rgb(40 20 131);
    color: white;
}

.price:hover {
    position: relative;
    top: -10px;
    transition: all 0.3s ease-in;
}

#contact {
    margin-top: 270px;
    margin-left: 18%;
    display: flex;    
}

#contact h2 {
    font-size: 28px;
}

#contact p {
    font-size: 14px;
}

.inputs {
    
    margin-top: -100px;
    color:rgb(126, 125, 125);
}

.inputs h3 {
    color:rgb(68, 68, 68)
}

.all_inputs input {
    margin: 3%;
    border: none;
}

.inputs { 
   position: relative;
   margin-right: 25%;  
}

.about {
   width: 60%;
   height: auto;
}

.send_message {
   width: 30%;
    height: 40px;
  margin-top: 20%;
  margin-left: 70%;
border-radius: 4px;
font-size: 16px;
background-color:rgb(40 20 131);
color: white;
border: 2px solid rgb(40 20 131);
cursor: pointer;
}

.send_message:hover {
    background-color: white;
    color:rgb(40 20 131);
}

.footer {
    margin-top: 170px;
    margin-bottom: 70px;
    display: block;
    text-align: center; 
}

.footer p {
    font-size: 12px;
    letter-spacing: 0.5px;
    color:rgb(122, 120, 120)
}



